#content-container {
  position: relative;
  padding: 20px;
}

#grid-container {
  position: absolute;
  top: 55px;
  margin-top: 20px;
}

#asset-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(7, auto); 
}

.column-title {
  font-size: 14px;
}