#content-container {
  position: relative;
  padding: 20px;
  font-family: 'Jura';
}

#grid-container {
  position: relative;
  padding-right: 10px;
}

#survey-container {
  padding-left: 10px;
}

.column-title {
  font-size: 14px;
}