@import '../../styling/colours';

#app-header {
  padding: 10px;
  background-color: $slate-blue;
  color: $vermillion;
  font-family: 'Orbitron';
  font-weight: bold;
}

#header-brand {
  margin-bottom: 0px;
  font-size: 26px;
}

.navbar-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}