@import '../../styling/colours';

#selector-container {
  position: relative;
  z-index: 500;
}

#selector-input {
  background-color: $sub-gray;

  &:focus {
    border-color: $vermillion;
  }
}

#asset-list {
  max-height: 600px;
  width: 100%;
  overflow-y: auto;
  color: $sub-gray;

  .asset-list-item a:hover {
    background-color: $light-vermillion;
    color: $vermillion;
  }
}

.asset-list-item-content {
  display: flex;
  justify-content: space-between;
}

.menu-float {
  position: absolute;
}