#selector-container {
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
}

#asset-list {
  max-height: 600px;
  overflow-y: auto;
}

.asset-list-item-content {
  display: flex;
  justify-content: space-between;
}

.menu-float {
  position: absolute;
}